openapi: 3.0.0
info:
  version: 1.1.0
  title: Zenduty Account Custom Role Incident Alerts API
  termsOfService: https://zenduty.com
  contact:
    email: vishwa@zenduty.com
  license:
    name: Apache 2.0
  x-logo:
    url: data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii05OC4zIDE3My43IDIwNi4zIDUzLjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk4LjMgMTczLjcgMjA2LjMgNTMuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzBGMTcyQTt9DQoJLnN0MXtmaWxsOiNGRDlBMDA7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tMjksMjEwLjJoNi4zYzIuNywwLDQuOSwyLjIsNC45LDQuOWgtMTguMWMwLTUuMyw0LjEtOS40LDcuOS0xMy4xbDMuOC0zLjdoLTcuMWMtMi41LDAtNC42LTIuMS00LjYtNC42aDE4DQoJYzAsNS4zLTQuMSw5LjQtNy44LDEzLjJMLTI5LDIxMC4yeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNywyMDUuOGgtMTUuNWMwLjEsMS41LDAuNiwyLjcsMS42LDMuNmMwLjksMC45LDIuMSwxLjIsMy41LDEuMmMyLDAsMy40LTAuOSw0LjMtMi41aDUuOA0KCWMtMC42LDItMS44LDMuNi0zLjUsNC45Yy0xLjgsMS4yLTMuOSwyLTYuNCwyYy0yLDAtMy45LTAuNS01LjUtMS40Yy0xLjYtMC45LTIuOS0yLjEtMy44LTMuN2MtMC45LTEuNi0xLjQtMy40LTEuNC01LjcNCgljMC0yLjEsMC41LTQuMSwxLjQtNS43YzAuOS0xLjYsMi4xLTIuOCwzLjgtMy43YzEuNi0wLjksMy40LTEuNCw1LjUtMS40YzIsMCwzLjgsMC40LDUuNCwxLjJjMS42LDAuOSwyLjgsMi4xLDMuNywzLjYNCgljMC45LDEuNiwxLjMsMy4zLDEuMyw1LjRDMy44LDIwNC42LDMuOCwyMDUuMiwzLjcsMjA1Ljh6IE0tMS43LDIwMi4yYzAtMS40LTAuNS0yLjUtMS41LTMuMmMtMS0wLjktMi4xLTEuMi0zLjUtMS4yDQoJYy0xLjQsMC0yLjQsMC40LTMuNCwxLjJjLTAuOSwwLjctMS41LDEuOC0xLjYsMy4zaDEwLjFWMjAyLjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuOSwxOTguNGMwLjktMS42LDItMi45LDMuNS0zLjhjMS41LTAuOSwzLjEtMS40LDQuOS0xLjRjMS40LDAsMi42LDAuMywzLjksMC45YzEuMywwLjYsMi4zLDEuNCwzLDIuNHYtMTYuNw0KCWg1LjR2MzVoLTUuNHYtMy4xYy0wLjYsMS0xLjYsMS45LTIuOCwyLjVjLTEuMywwLjYtMi42LDEtNC4yLDFjLTEuOCwwLTMuNC0wLjUtNC45LTEuNGMtMS41LTAuOS0yLjYtMi4zLTMuNS0zLjkNCgljLTAuOS0xLjYtMS4zLTMuNS0xLjMtNS44QzI2LjYsMjAyLDI3LDIwMCwyNy45LDE5OC40eiBNNDIuNSwyMDAuOWMtMC41LTAuOS0xLjMtMS42LTItMi4xYy0wLjktMC41LTEuOC0wLjgtMi44LTAuOA0KCWMtMSwwLTEuOSwwLjMtMi44LDAuOGMtMC45LDAuNS0xLjUsMS4xLTIsMi4xYy0wLjUsMC45LTAuOCwyLTAuOCwzLjNjMCwxLjMsMC4zLDIuNCwwLjgsMy40YzAuNSwxLDEuMywxLjYsMiwyLjENCgljMC45LDAuNSwxLjgsMC44LDIuOCwwLjhjMSwwLDEuOS0wLjMsMi44LTAuOGMwLjktMC41LDEuNS0xLjMsMi0yLjFjMC41LTAuOSwwLjgtMiwwLjgtMy40UzQzLDIwMS44LDQyLjUsMjAwLjl6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjUuNCwyMDQuM3YxMC42aC01di0xMC42YzAtMi0wLjUtMy41LTEuNS00LjVjLTEtMS4xLTIuMS0xLjYtMy41LTEuNnMtMi41LDAuNS0zLjUsMS42DQoJYy0wLjksMS0xLjQsMi42LTEuNCw0LjV2MTAuNkg1LjV2LTEwLjZjMC0yLjEsMC41LTQsMS4zLTUuN2MwLjktMS42LDItMi45LDMuNS0zLjhzMy4xLTEuNCw1LTEuNHMzLjUsMC41LDUsMS40DQoJYzEuNSwwLjksMi42LDIuMSwzLjUsMy44QzI0LjksMjAwLjMsMjUuNCwyMDIuMiwyNS40LDIwNC4zeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTUxLjMsMjA0LjF2LTEwLjRoNXYxMC40YzAsMiwwLjUsMy41LDEuNSw0LjVjMSwxLjEsMi4xLDEuNiwzLjUsMS42YzEuNCwwLDIuNS0wLjUsMy41LTEuNg0KCWMwLjktMSwxLjQtMi42LDEuNC00LjV2LTEwLjRoNC45djEwLjRjMCwyLjEtMC41LDQtMS4zLDUuN2MtMC45LDEuNi0yLDIuOS0zLjUsMy44Yy0xLjUsMC45LTMuMSwxLjQtNSwxLjRzLTMuNS0wLjUtNS0xLjQNCgljLTEuNS0wLjktMi42LTIuMS0zLjUtMy44QzUxLjcsMjA4LjEsNTEuMywyMDYuMiw1MS4zLDIwNC4xeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgwLjcsMTk4djEwLjJjMCwwLjgsMC4xLDEuMywwLjUsMS41YzAuNCwwLjQsMC45LDAuNSwxLjgsMC41aDIuNXY0LjVoLTMuNGMtNC41LDAtNi44LTIuMS02LjgtNi41VjE5OGgtNS4xDQoJdi00LjRoNS4xdi04LjdoNS40djguN2g0LjhsMi42LDQuNEg4MC43eiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwNy40LDE5My42bC04LjcsMjAuNmwtNSwxMS44aC01LjdsNS4xLTExLjhsLTguNC0yMC42aDZsNS40LDE0LjdsNS41LTE0LjdIMTA3LjR6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTY2LjksMTg5LjJjLTEuOSwwLTQuNy0yLjEtNC43LTQuOHYtMy42YzAtMi43LDAuOC00LjgsNC43LTQuOGMzLjksMCw0LjcsMi4xLDQuNyw0Ljh2My42DQoJQy02Mi4yLDE4Ny4xLTY1LDE4OS4yLTY2LjksMTg5LjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTM3LjcsMjIzaC0yMS41bDMuOC0xMS40bDAuNy0xLjhjNC4yLDEuNywxMy4xLDcuMiwxNy43LDExLjZDLTM2LjQsMjIyLjEtMzYuOCwyMjMtMzcuNywyMjN6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTU3LjMsMTkyLjlsLTE1LjksMTAuNGMtNC4yLTIuNS05LjItNS45LTEyLjItOC44Yy0wLjYtMC42LTAuMi0xLjUsMC43LTEuNUgtNTcuM3oiLz4NCjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0tNDguNiwxOTQuM2wtNiwxNS42bC0wLjcsMS44bC0zLjgsMTEuNEgtOTZjLTAuOCwwLTEuMy0wLjktMC44LTEuNWMwLjktMS4yLDEuOC0yLjMsMi43LTMuMw0KCWMyLjEtMi4yLDQuNC00LjEsNi45LTUuOGwwLjEtMC4xYzAuOC0wLjYsMS42LTEuMSwyLjQtMS42bDExLjQtNy40bDE1LjktMTAuNGg3LjdDLTQ4LjgsMTkyLjktNDguNCwxOTMuNi00OC42LDE5NC4zeiIvPg0KPC9zdmc+DQo=
  description: "# Introduction\n\nZenduty is a cutting edge platform for incident management. With high level automation, Zenduty enables faster and better incident resolution keeping developers first.\n\n\n  Javascript Libraries: https://github.com/Zenduty/zenduty-js\n\n  Ruby Libraries: https://github.com/Zenduty/zenduty-ruby\n\n  Python Libraries: https://github.com/Zenduty/zenduty-python-sdk\n\n  Postman Collection for Zenduty API: https://github.com/Zenduty/zenduty-api-postman.git\n\n  Account-level roles and permissions: https://docs.zenduty.com/docs/users#account-level-roles-and-permissions\n\n  Team-level roles and permissions: https://docs.zenduty.com/docs/users#team-level-roles-and-permissions\n"
servers:
- url: https://www.zenduty.com
security:
- bearerAuth: []
tags:
- name: Incident Alerts
  description: This object represents the incident alerts of an incident.
paths:
  /api/incidents/{incident_number}/alerts/:
    parameters:
    - name: incident_number
      in: path
      description: incident_number of the Incident object
      schema:
        type: string
      required: true
    get:
      tags:
      - Incident Alerts
      summary: List all Incident Alert objects
      description: Returns a list of Incident Alert objects. The Incident Alert objects are sorted by creation_date, with the most recent Incident Alert object appearing last.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentAlert'
              example:
              - integration_object:
                  name: Modified Infra custom Integration
                  creation_date: '2022-07-08T12:52:22.906327Z'
                  summary: This is the summary for Infra custom Integration
                  unique_id: 72da1133-a471-4e70-95f3-ce3a5650e9fd
                  service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  integration_key: 5f306dae-b327-4ba9-8f3a-ab4cffd57645
                  is_enabled: true
                  integration_type: 0
                summary: ''
                incident: 2
                creation_date: '2022-07-08T13:14:31.300448Z'
                message: Infra Integration Alert
                integration: 72da1133-a471-4e70-95f3-ce3a5650e9fd
                suppressed: false
                entity_id: de8cf7fc-08ee-4966-b8d3-b6b631da
                alert_type: '3'
                unique_id: xc6qbUftpzkQ28f2MxpRxh
                images: []
                urls: []
                notes: []
            application/xml:
              schema:
                $ref: '#/components/schemas/IncidentAlert'
              example:
              - integration_object:
                  name: Modified Infra custom Integration
                  creation_date: '2022-07-08T12:52:22.906327Z'
                  summary: This is the summary for Infra custom Integration
                  unique_id: 72da1133-a471-4e70-95f3-ce3a5650e9fd
                  service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  integration_key: 5f306dae-b327-4ba9-8f3a-ab4cffd57645
                  is_enabled: true
                  integration_type: 0
                summary: ''
                incident: 2
                creation_date: '2022-07-08T13:14:31.300448Z'
                message: Infra Integration Alert
                integration: 72da1133-a471-4e70-95f3-ce3a5650e9fd
                suppressed: false
                entity_id: de8cf7fc-08ee-4966-b8d3-b6b631da
                alert_type: '3'
                unique_id: xc6qbUftpzkQ28f2MxpRxh
                images: []
                urls: []
                notes: []
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
components:
  schemas:
    Integration:
      description: Integration object schema
      type: object
      properties:
        name:
          type: string
          description: A string that represents the Integration object's name
        creation_date:
          type: string
          format: date-time
          description: A formatted string that represents the Integration object's creation_date
        summary:
          type: string
          description: A string that represents the Integration object's summary
        unique_id:
          type: string
          description: A system-generated string that represents the Integration object's unique_id
        service:
          type: string
          description: A system-generated string that represents the Service object's unique_id
        application:
          type: string
          description: A system-generated string that represents the Application object's unique_id
        application_reference:
          $ref: '#/components/schemas/Application'
        integration_key:
          type: string
          description: A system-generated string that represents the Integration object's integration_key
        created_by:
          type: string
          description: A system-generated string that represents the User object's username
        is_enabled:
          type: boolean
          default: true
          description: A boolean flag that represents whether an Integration is enabled or not
        create_incidents_for:
          type: integer
          default: 1
          description: An integer that represents the type of the Incidents this Integration object will create. 0 is do not create incidents. 1 is critical, 2 is critical and errors, and 3 is critical, errors and warnings.
        integration_type:
          type: integer
          default: 0
          description: An integer that represents the Integration object's integration_type. 0 is alert and 1 is outbound.
        default_urgency:
          type: integer
          default: 1
          description: An integer that represents the Integration object's default_urgency. 0 is low and 1 is high.
        webhook_url:
          type: string
          description: A system-generated string that represents the Integration object's webhook url
    EventUrl:
      type: object
      description: Event URL object schema
      properties:
        link_url:
          type: string
          description: A string that represents the Event URL object's link_url
        link_text:
          type: string
          description: A string that represents the Event URL object's link_text
    IncidentAlert:
      type: object
      description: Incident Alert object schema
      properties:
        integration_object:
          $ref: '#/components/schemas/Integration'
        summary:
          type: string
          description: A string that represents the Incident Alert object's summary
        incident:
          type: integer
          description: An integer that represents the Incident object's incident_number
        creation_date:
          type: string
          format: date-time
          description: A formatted string that represents the Incident Alert object's creation_date
        message:
          type: string
          description: A string that represents the Incident Alert object's message
        integration:
          type: string
          description: A system-generated string that represents the Integration object's unique_id
        suppressed:
          type: boolean
          default: false
          description: A boolean flag that represents whether the Incident Alert object is suppressed or not.
        entity_id:
          type: string
          description: A system-generated string that represents the Incident Alert object's entity_id
        alert_type:
          type: integer
          default: 1
          description: An integer that represents the Incident Alert object's type. 0 is info, 1 is warning, 2 is error, 3 is critical, 4 is acknowledged and 5 is resolved
        unique_id:
          type: string
          description: A system-generated string that represents the Incident Alert object's unique_id
        images:
          type: array
          items:
            $ref: '#/components/schemas/EventImage'
        urls:
          type: array
          items:
            $ref: '#/components/schemas/EventUrl'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/EventNote'
    EventNote:
      type: object
      description: Event Note object schema
      properties:
        note_title:
          type: string
          description: A string that represents the Event Note object's note_title
        note_text:
          type: string
          description: A string that represents the Event Note object's note_text
    EventImage:
      type: object
      description: Event Image object schema
      properties:
        image_src:
          type: string
          description: A string that represents the Event Image object's image_src
        image_url:
          type: string
          description: A string that represents the Event Image object's image_url
        image_text:
          type: string
          description: A string that represents the Event Image object's image_text
    Application:
      description: Application object schema
      type: object
      properties:
        name:
          type: string
          description: A string that represents Application object's name
        icon_url:
          type: string
          description: A string that represents Application object's icon_url
        summary:
          type: string
          description: A string that represents Application object's summary
        description:
          type: string
          description: A string that represents Application object's description
        unique_id:
          type: string
          description: A system-generated string that represents Application object's unique_id
        availability_plan_id:
          type: integer
          description: An integer that represents Application object's availability_plan_id
        setup_instructions:
          type: string
          description: A string that represents Application object's setup_instructions
        extension:
          type: string
          description: A string that represents Application object's extension
        application_type:
          type: integer
          description: An integer that represents Application object's application_type 0 for alert and 1 for outbound
        categories:
          type: string
          description: A string that represents Application object's categories
        documentation_link:
          type: string
          description: A string that represents Application object's documentation_link
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token <api_key>
