openapi: 3.0.0
info:
  version: 1.1.0
  title: Zenduty Account Custom Role Forwarding Rules API
  termsOfService: https://zenduty.com
  contact:
    email: vishwa@zenduty.com
  license:
    name: Apache 2.0
  x-logo:
    url: data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii05OC4zIDE3My43IDIwNi4zIDUzLjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk4LjMgMTczLjcgMjA2LjMgNTMuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzBGMTcyQTt9DQoJLnN0MXtmaWxsOiNGRDlBMDA7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tMjksMjEwLjJoNi4zYzIuNywwLDQuOSwyLjIsNC45LDQuOWgtMTguMWMwLTUuMyw0LjEtOS40LDcuOS0xMy4xbDMuOC0zLjdoLTcuMWMtMi41LDAtNC42LTIuMS00LjYtNC42aDE4DQoJYzAsNS4zLTQuMSw5LjQtNy44LDEzLjJMLTI5LDIxMC4yeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNywyMDUuOGgtMTUuNWMwLjEsMS41LDAuNiwyLjcsMS42LDMuNmMwLjksMC45LDIuMSwxLjIsMy41LDEuMmMyLDAsMy40LTAuOSw0LjMtMi41aDUuOA0KCWMtMC42LDItMS44LDMuNi0zLjUsNC45Yy0xLjgsMS4yLTMuOSwyLTYuNCwyYy0yLDAtMy45LTAuNS01LjUtMS40Yy0xLjYtMC45LTIuOS0yLjEtMy44LTMuN2MtMC45LTEuNi0xLjQtMy40LTEuNC01LjcNCgljMC0yLjEsMC41LTQuMSwxLjQtNS43YzAuOS0xLjYsMi4xLTIuOCwzLjgtMy43YzEuNi0wLjksMy40LTEuNCw1LjUtMS40YzIsMCwzLjgsMC40LDUuNCwxLjJjMS42LDAuOSwyLjgsMi4xLDMuNywzLjYNCgljMC45LDEuNiwxLjMsMy4zLDEuMyw1LjRDMy44LDIwNC42LDMuOCwyMDUuMiwzLjcsMjA1Ljh6IE0tMS43LDIwMi4yYzAtMS40LTAuNS0yLjUtMS41LTMuMmMtMS0wLjktMi4xLTEuMi0zLjUtMS4yDQoJYy0xLjQsMC0yLjQsMC40LTMuNCwxLjJjLTAuOSwwLjctMS41LDEuOC0xLjYsMy4zaDEwLjFWMjAyLjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuOSwxOTguNGMwLjktMS42LDItMi45LDMuNS0zLjhjMS41LTAuOSwzLjEtMS40LDQuOS0xLjRjMS40LDAsMi42LDAuMywzLjksMC45YzEuMywwLjYsMi4zLDEuNCwzLDIuNHYtMTYuNw0KCWg1LjR2MzVoLTUuNHYtMy4xYy0wLjYsMS0xLjYsMS45LTIuOCwyLjVjLTEuMywwLjYtMi42LDEtNC4yLDFjLTEuOCwwLTMuNC0wLjUtNC45LTEuNGMtMS41LTAuOS0yLjYtMi4zLTMuNS0zLjkNCgljLTAuOS0xLjYtMS4zLTMuNS0xLjMtNS44QzI2LjYsMjAyLDI3LDIwMCwyNy45LDE5OC40eiBNNDIuNSwyMDAuOWMtMC41LTAuOS0xLjMtMS42LTItMi4xYy0wLjktMC41LTEuOC0wLjgtMi44LTAuOA0KCWMtMSwwLTEuOSwwLjMtMi44LDAuOGMtMC45LDAuNS0xLjUsMS4xLTIsMi4xYy0wLjUsMC45LTAuOCwyLTAuOCwzLjNjMCwxLjMsMC4zLDIuNCwwLjgsMy40YzAuNSwxLDEuMywxLjYsMiwyLjENCgljMC45LDAuNSwxLjgsMC44LDIuOCwwLjhjMSwwLDEuOS0wLjMsMi44LTAuOGMwLjktMC41LDEuNS0xLjMsMi0yLjFjMC41LTAuOSwwLjgtMiwwLjgtMy40UzQzLDIwMS44LDQyLjUsMjAwLjl6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjUuNCwyMDQuM3YxMC42aC01di0xMC42YzAtMi0wLjUtMy41LTEuNS00LjVjLTEtMS4xLTIuMS0xLjYtMy41LTEuNnMtMi41LDAuNS0zLjUsMS42DQoJYy0wLjksMS0xLjQsMi42LTEuNCw0LjV2MTAuNkg1LjV2LTEwLjZjMC0yLjEsMC41LTQsMS4zLTUuN2MwLjktMS42LDItMi45LDMuNS0zLjhzMy4xLTEuNCw1LTEuNHMzLjUsMC41LDUsMS40DQoJYzEuNSwwLjksMi42LDIuMSwzLjUsMy44QzI0LjksMjAwLjMsMjUuNCwyMDIuMiwyNS40LDIwNC4zeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTUxLjMsMjA0LjF2LTEwLjRoNXYxMC40YzAsMiwwLjUsMy41LDEuNSw0LjVjMSwxLjEsMi4xLDEuNiwzLjUsMS42YzEuNCwwLDIuNS0wLjUsMy41LTEuNg0KCWMwLjktMSwxLjQtMi42LDEuNC00LjV2LTEwLjRoNC45djEwLjRjMCwyLjEtMC41LDQtMS4zLDUuN2MtMC45LDEuNi0yLDIuOS0zLjUsMy44Yy0xLjUsMC45LTMuMSwxLjQtNSwxLjRzLTMuNS0wLjUtNS0xLjQNCgljLTEuNS0wLjktMi42LTIuMS0zLjUtMy44QzUxLjcsMjA4LjEsNTEuMywyMDYuMiw1MS4zLDIwNC4xeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgwLjcsMTk4djEwLjJjMCwwLjgsMC4xLDEuMywwLjUsMS41YzAuNCwwLjQsMC45LDAuNSwxLjgsMC41aDIuNXY0LjVoLTMuNGMtNC41LDAtNi44LTIuMS02LjgtNi41VjE5OGgtNS4xDQoJdi00LjRoNS4xdi04LjdoNS40djguN2g0LjhsMi42LDQuNEg4MC43eiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwNy40LDE5My42bC04LjcsMjAuNmwtNSwxMS44aC01LjdsNS4xLTExLjhsLTguNC0yMC42aDZsNS40LDE0LjdsNS41LTE0LjdIMTA3LjR6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTY2LjksMTg5LjJjLTEuOSwwLTQuNy0yLjEtNC43LTQuOHYtMy42YzAtMi43LDAuOC00LjgsNC43LTQuOGMzLjksMCw0LjcsMi4xLDQuNyw0Ljh2My42DQoJQy02Mi4yLDE4Ny4xLTY1LDE4OS4yLTY2LjksMTg5LjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTM3LjcsMjIzaC0yMS41bDMuOC0xMS40bDAuNy0xLjhjNC4yLDEuNywxMy4xLDcuMiwxNy43LDExLjZDLTM2LjQsMjIyLjEtMzYuOCwyMjMtMzcuNywyMjN6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTU3LjMsMTkyLjlsLTE1LjksMTAuNGMtNC4yLTIuNS05LjItNS45LTEyLjItOC44Yy0wLjYtMC42LTAuMi0xLjUsMC43LTEuNUgtNTcuM3oiLz4NCjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0tNDguNiwxOTQuM2wtNiwxNS42bC0wLjcsMS44bC0zLjgsMTEuNEgtOTZjLTAuOCwwLTEuMy0wLjktMC44LTEuNWMwLjktMS4yLDEuOC0yLjMsMi43LTMuMw0KCWMyLjEtMi4yLDQuNC00LjEsNi45LTUuOGwwLjEtMC4xYzAuOC0wLjYsMS42LTEuMSwyLjQtMS42bDExLjQtNy40bDE1LjktMTAuNGg3LjdDLTQ4LjgsMTkyLjktNDguNCwxOTMuNi00OC42LDE5NC4zeiIvPg0KPC9zdmc+DQo=
  description: "# Introduction\n\nZenduty is a cutting edge platform for incident management. With high level automation, Zenduty enables faster and better incident resolution keeping developers first.\n\n\n  Javascript Libraries: https://github.com/Zenduty/zenduty-js\n\n  Ruby Libraries: https://github.com/Zenduty/zenduty-ruby\n\n  Python Libraries: https://github.com/Zenduty/zenduty-python-sdk\n\n  Postman Collection for Zenduty API: https://github.com/Zenduty/zenduty-api-postman.git\n\n  Account-level roles and permissions: https://docs.zenduty.com/docs/users#account-level-roles-and-permissions\n\n  Team-level roles and permissions: https://docs.zenduty.com/docs/users#team-level-roles-and-permissions\n"
servers:
- url: https://www.zenduty.com
security:
- bearerAuth: []
tags:
- name: Forwarding Rules
  description: This object represents a user's forwarding rules. A user can forward his notifications to the other account members in case an incident occurs.
paths:
  /api/account/users/{username}/forwarding_rules/:
    parameters:
    - name: username
      in: path
      description: username of the User object
      schema:
        type: string
      required: true
    post:
      tags:
      - Forwarding Rules
      summary: Create the User Forwarding Rules object
      description: Create the User's Forwarding Rules object by setting the values of all the required parameters passed in the request body.
      requestBody:
        description: Request body parameters to create the User Forwarding Rules object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserForwardingRulePayload'
            example:
              from_date: '2023-03-01T16:37:58.654Z'
              to_date: '2023-03-01T16:37:58.654Z'
              time_zone: UTC
              to_user: 7e26fed1-f11c-4e78-afc6-a
          application/xml:
            schema:
              $ref: '#/components/schemas/UserForwardingRulePayload'
            example:
              from_date: '2023-03-01T16:37:58.654Z'
              to_date: '2023-03-01T16:37:58.654Z'
              time_zone: UTC
              to_user: 7e26fed1-f11c-4e78-afc6-a
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserForwardingRule'
              example:
                creation_date: '2023-03-01T16:43:00.031310Z'
                unique_id: 8bd02ac2-07fe-4d32-a37f-e1def9673746
                time_zone: UTC
                from_date: '2023-03-01T16:37:58.654000Z'
                to_date: '2023-03-01T16:37:58.654000Z'
                to_user: 7e26fed1-f11c-4e78-afc6-a
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
            application/xml:
              schema:
                $ref: '#/components/schemas/UserForwardingRule'
              example:
                creation_date: '2023-03-01T16:43:00.031310Z'
                unique_id: 8bd02ac2-07fe-4d32-a37f-e1def9673746
                time_zone: UTC
                from_date: '2023-03-01T16:37:58.654000Z'
                to_date: '2023-03-01T16:37:58.654000Z'
                to_user: 7e26fed1-f11c-4e78-afc6-a
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
    get:
      tags:
      - Forwarding Rules
      summary: List all User Forwarding Rule objects
      description: Returns a list of User Forwarding Rule objects.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserForwardingRule'
              example:
              - creation_date: '2023-03-01T16:38:22.540374Z'
                unique_id: a6011d7c-3a44-4cab-8580-a410881f4ff9
                time_zone: UTC
                from_date: '2023-03-01T16:37:58.654000Z'
                to_date: '2023-03-01T16:37:58.654000Z'
                to_user: 7e26fed1-f11c-4e78-afc6-a
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
              - creation_date: '2023-03-01T16:44:31.446633Z'
                unique_id: e2c523b9-af2b-4e66-a3fd-338bd7ffc641
                time_zone: UTC
                from_date: '2023-03-01T16:44:22.757000Z'
                to_date: '2023-03-01T16:44:22.757000Z'
                to_user: 25692874-e54d-4101-bbfc-7
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
            application/xml:
              schema:
                $ref: '#/components/schemas/UserForwardingRule'
              example:
              - creation_date: '2023-03-01T16:38:22.540374Z'
                unique_id: a6011d7c-3a44-4cab-8580-a410881f4ff9
                time_zone: UTC
                from_date: '2023-03-01T16:37:58.654000Z'
                to_date: '2023-03-01T16:37:58.654000Z'
                to_user: 7e26fed1-f11c-4e78-afc6-a
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
              - creation_date: '2023-03-01T16:44:31.446633Z'
                unique_id: e2c523b9-af2b-4e66-a3fd-338bd7ffc641
                time_zone: UTC
                from_date: '2023-03-01T16:44:22.757000Z'
                to_date: '2023-03-01T16:44:22.757000Z'
                to_user: 25692874-e54d-4101-bbfc-7
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
  /api/account/users/{username}/forwarding_rules/{forwarding_rule_id}/:
    parameters:
    - name: username
      in: path
      description: username of the User object
      schema:
        type: string
      required: true
    - name: forwarding_rule_id
      in: path
      description: unique_id of the User Forwarding Rules object
      schema:
        type: string
      required: true
    get:
      tags:
      - Forwarding Rules
      summary: Retrieve the User Forwarding Rules object
      description: Retrieve the specified User's Forwarding Rules object.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserForwardingRule'
              example:
                creation_date: '2023-03-01T16:38:22.540374Z'
                unique_id: a6011d7c-3a44-4cab-8580-a410881f4ff9
                time_zone: UTC
                from_date: '2023-03-01T16:37:58.654000Z'
                to_date: '2023-03-01T16:37:58.654000Z'
                to_user: 7e26fed1-f11c-4e78-afc6-a
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
            application/xml:
              schema:
                $ref: '#/components/schemas/UserForwardingRule'
              example:
                creation_date: '2023-03-01T16:38:22.540374Z'
                unique_id: a6011d7c-3a44-4cab-8580-a410881f4ff9
                time_zone: UTC
                from_date: '2023-03-01T16:37:58.654000Z'
                to_date: '2023-03-01T16:37:58.654000Z'
                to_user: 7e26fed1-f11c-4e78-afc6-a
                created_by: 7e26fed1-f11c-4e78-afc6-a
                user: 4f9f41eb-4252-462e-9e33-6
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
    delete:
      tags:
      - Forwarding Rules
      summary: Delete the User Forwarding Rule object
      description: Delete the specified User's Forwarding Rules object permanently.
      responses:
        '204':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
components:
  schemas:
    UserForwardingRulePayload:
      type: object
      description: Payload schema for the User Forwarding Rules object
      required:
      - from_date
      - to_date
      - to_user
      properties:
        from_date:
          type: string
          format: date-time
          description: A formatted string that represents the User Forwarding Rule object's from_date field
        to_date:
          type: string
          format: date-time
          description: A formatted string that represents the User Forwarding Rule object's to_date field
        time_zone:
          type: string
          description: A formatted string that represents the User Forwarding Rule object's time zone. You can check out the time zone list here https://timezonedb.com/time-zones
        to_user:
          type: string
          description: A system-generated string that represents the User object's username
    UserForwardingRule:
      type: object
      description: User Forwarding Rule object's schema
      properties:
        creation_date:
          type: string
          format: date-time
          description: A formatted string that represents the User Forwarding Rule object's creation_date
        unique_id:
          type: string
          description: A system-generated string that represents the User Forwarding Rule object's unique_id
        time_zone:
          type: string
          description: A formatted string that represents the User Forwarding Rule object's time zone. You can check out the time zone list here https://timezonedb.com/time-zones
        from_date:
          type: string
          format: date-time
          description: A formatted string that represents the User Forwarding Rule object's from_date field
        to_date:
          type: string
          format: date-time
          description: A formatted string that represents the User Forwarding Rule object's to_date field
        to_user:
          type: string
          description: A system-generated string that represents the User object's username
        created_by:
          type: string
          description: A system-generated string that represents the User object's username
        user:
          type: string
          description: A system-generated string that represents the User object's username
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token <api_key>
