openapi: 3.0.0
info:
  version: 1.1.0
  title: Zenduty Account Custom Role Incidents API
  termsOfService: https://zenduty.com
  contact:
    email: vishwa@zenduty.com
  license:
    name: Apache 2.0
  x-logo:
    url: data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii05OC4zIDE3My43IDIwNi4zIDUzLjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk4LjMgMTczLjcgMjA2LjMgNTMuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzBGMTcyQTt9DQoJLnN0MXtmaWxsOiNGRDlBMDA7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tMjksMjEwLjJoNi4zYzIuNywwLDQuOSwyLjIsNC45LDQuOWgtMTguMWMwLTUuMyw0LjEtOS40LDcuOS0xMy4xbDMuOC0zLjdoLTcuMWMtMi41LDAtNC42LTIuMS00LjYtNC42aDE4DQoJYzAsNS4zLTQuMSw5LjQtNy44LDEzLjJMLTI5LDIxMC4yeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNywyMDUuOGgtMTUuNWMwLjEsMS41LDAuNiwyLjcsMS42LDMuNmMwLjksMC45LDIuMSwxLjIsMy41LDEuMmMyLDAsMy40LTAuOSw0LjMtMi41aDUuOA0KCWMtMC42LDItMS44LDMuNi0zLjUsNC45Yy0xLjgsMS4yLTMuOSwyLTYuNCwyYy0yLDAtMy45LTAuNS01LjUtMS40Yy0xLjYtMC45LTIuOS0yLjEtMy44LTMuN2MtMC45LTEuNi0xLjQtMy40LTEuNC01LjcNCgljMC0yLjEsMC41LTQuMSwxLjQtNS43YzAuOS0xLjYsMi4xLTIuOCwzLjgtMy43YzEuNi0wLjksMy40LTEuNCw1LjUtMS40YzIsMCwzLjgsMC40LDUuNCwxLjJjMS42LDAuOSwyLjgsMi4xLDMuNywzLjYNCgljMC45LDEuNiwxLjMsMy4zLDEuMyw1LjRDMy44LDIwNC42LDMuOCwyMDUuMiwzLjcsMjA1Ljh6IE0tMS43LDIwMi4yYzAtMS40LTAuNS0yLjUtMS41LTMuMmMtMS0wLjktMi4xLTEuMi0zLjUtMS4yDQoJYy0xLjQsMC0yLjQsMC40LTMuNCwxLjJjLTAuOSwwLjctMS41LDEuOC0xLjYsMy4zaDEwLjFWMjAyLjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuOSwxOTguNGMwLjktMS42LDItMi45LDMuNS0zLjhjMS41LTAuOSwzLjEtMS40LDQuOS0xLjRjMS40LDAsMi42LDAuMywzLjksMC45YzEuMywwLjYsMi4zLDEuNCwzLDIuNHYtMTYuNw0KCWg1LjR2MzVoLTUuNHYtMy4xYy0wLjYsMS0xLjYsMS45LTIuOCwyLjVjLTEuMywwLjYtMi42LDEtNC4yLDFjLTEuOCwwLTMuNC0wLjUtNC45LTEuNGMtMS41LTAuOS0yLjYtMi4zLTMuNS0zLjkNCgljLTAuOS0xLjYtMS4zLTMuNS0xLjMtNS44QzI2LjYsMjAyLDI3LDIwMCwyNy45LDE5OC40eiBNNDIuNSwyMDAuOWMtMC41LTAuOS0xLjMtMS42LTItMi4xYy0wLjktMC41LTEuOC0wLjgtMi44LTAuOA0KCWMtMSwwLTEuOSwwLjMtMi44LDAuOGMtMC45LDAuNS0xLjUsMS4xLTIsMi4xYy0wLjUsMC45LTAuOCwyLTAuOCwzLjNjMCwxLjMsMC4zLDIuNCwwLjgsMy40YzAuNSwxLDEuMywxLjYsMiwyLjENCgljMC45LDAuNSwxLjgsMC44LDIuOCwwLjhjMSwwLDEuOS0wLjMsMi44LTAuOGMwLjktMC41LDEuNS0xLjMsMi0yLjFjMC41LTAuOSwwLjgtMiwwLjgtMy40UzQzLDIwMS44LDQyLjUsMjAwLjl6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjUuNCwyMDQuM3YxMC42aC01di0xMC42YzAtMi0wLjUtMy41LTEuNS00LjVjLTEtMS4xLTIuMS0xLjYtMy41LTEuNnMtMi41LDAuNS0zLjUsMS42DQoJYy0wLjksMS0xLjQsMi42LTEuNCw0LjV2MTAuNkg1LjV2LTEwLjZjMC0yLjEsMC41LTQsMS4zLTUuN2MwLjktMS42LDItMi45LDMuNS0zLjhzMy4xLTEuNCw1LTEuNHMzLjUsMC41LDUsMS40DQoJYzEuNSwwLjksMi42LDIuMSwzLjUsMy44QzI0LjksMjAwLjMsMjUuNCwyMDIuMiwyNS40LDIwNC4zeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTUxLjMsMjA0LjF2LTEwLjRoNXYxMC40YzAsMiwwLjUsMy41LDEuNSw0LjVjMSwxLjEsMi4xLDEuNiwzLjUsMS42YzEuNCwwLDIuNS0wLjUsMy41LTEuNg0KCWMwLjktMSwxLjQtMi42LDEuNC00LjV2LTEwLjRoNC45djEwLjRjMCwyLjEtMC41LDQtMS4zLDUuN2MtMC45LDEuNi0yLDIuOS0zLjUsMy44Yy0xLjUsMC45LTMuMSwxLjQtNSwxLjRzLTMuNS0wLjUtNS0xLjQNCgljLTEuNS0wLjktMi42LTIuMS0zLjUtMy44QzUxLjcsMjA4LjEsNTEuMywyMDYuMiw1MS4zLDIwNC4xeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgwLjcsMTk4djEwLjJjMCwwLjgsMC4xLDEuMywwLjUsMS41YzAuNCwwLjQsMC45LDAuNSwxLjgsMC41aDIuNXY0LjVoLTMuNGMtNC41LDAtNi44LTIuMS02LjgtNi41VjE5OGgtNS4xDQoJdi00LjRoNS4xdi04LjdoNS40djguN2g0LjhsMi42LDQuNEg4MC43eiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwNy40LDE5My42bC04LjcsMjAuNmwtNSwxMS44aC01LjdsNS4xLTExLjhsLTguNC0yMC42aDZsNS40LDE0LjdsNS41LTE0LjdIMTA3LjR6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTY2LjksMTg5LjJjLTEuOSwwLTQuNy0yLjEtNC43LTQuOHYtMy42YzAtMi43LDAuOC00LjgsNC43LTQuOGMzLjksMCw0LjcsMi4xLDQuNyw0Ljh2My42DQoJQy02Mi4yLDE4Ny4xLTY1LDE4OS4yLTY2LjksMTg5LjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTM3LjcsMjIzaC0yMS41bDMuOC0xMS40bDAuNy0xLjhjNC4yLDEuNywxMy4xLDcuMiwxNy43LDExLjZDLTM2LjQsMjIyLjEtMzYuOCwyMjMtMzcuNywyMjN6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTU3LjMsMTkyLjlsLTE1LjksMTAuNGMtNC4yLTIuNS05LjItNS45LTEyLjItOC44Yy0wLjYtMC42LTAuMi0xLjUsMC43LTEuNUgtNTcuM3oiLz4NCjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0tNDguNiwxOTQuM2wtNiwxNS42bC0wLjcsMS44bC0zLjgsMTEuNEgtOTZjLTAuOCwwLTEuMy0wLjktMC44LTEuNWMwLjktMS4yLDEuOC0yLjMsMi43LTMuMw0KCWMyLjEtMi4yLDQuNC00LjEsNi45LTUuOGwwLjEtMC4xYzAuOC0wLjYsMS42LTEuMSwyLjQtMS42bDExLjQtNy40bDE1LjktMTAuNGg3LjdDLTQ4LjgsMTkyLjktNDguNCwxOTMuNi00OC42LDE5NC4zeiIvPg0KPC9zdmc+DQo=
  description: "# Introduction\n\nZenduty is a cutting edge platform for incident management. With high level automation, Zenduty enables faster and better incident resolution keeping developers first.\n\n\n  Javascript Libraries: https://github.com/Zenduty/zenduty-js\n\n  Ruby Libraries: https://github.com/Zenduty/zenduty-ruby\n\n  Python Libraries: https://github.com/Zenduty/zenduty-python-sdk\n\n  Postman Collection for Zenduty API: https://github.com/Zenduty/zenduty-api-postman.git\n\n  Account-level roles and permissions: https://docs.zenduty.com/docs/users#account-level-roles-and-permissions\n\n  Team-level roles and permissions: https://docs.zenduty.com/docs/users#team-level-roles-and-permissions\n"
servers:
- url: https://www.zenduty.com
security:
- bearerAuth: []
tags:
- name: Incidents
  description: This object represents the incidents of the account. You can checkout the incident docs here https://docs.zenduty.com/docs/incidents
paths:
  /api/incidents/filter/:
    post:
      parameters:
      - in: query
        name: page
        description: pagination page number. example - `page=1`
        schema:
          type: integer
      tags:
      - Incidents
      summary: List all Incident objects(filtered)
      description: Returns a list of filtered Incident objects. The Incident objects are sorted by creation_date, with the most recent Incident object appearing last. for pagination please use 'next' and 'previous' links in the response.
      requestBody:
        description: Request body parameters to filter the Incident objects
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentFilterPayload'
            example:
              status: 1
              team_ids:
              - 4cce18ea-57c5-4beb-bca8-60dc7a68ae3a
              - 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
              all_teams: 1
              service_ids:
              - 32a7c77f-aa0a-49de-ab52-e52f0aa77888
              user_ids:
              - 7e26fed1-f11c-4e78-afc6-a
              priority_name: ''
              priority_ids:
              - 7064efff-55f2-448b-92e5-a3a53179aa76
              tag_ids:
              - bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
              sla_ids:
              - f14a16aa-15d1-49a1-be27-0c266b15c7fa
              from_date: []
              to_date: []
              postmortem_filter: -1
              escalation_policy_ids:
              - 52fe68d3-cead-40b3-b0ac-d616d38d8e32
          application/xml:
            schema:
              $ref: '#/components/schemas/IncidentFilterPayload'
            example:
              status: 1
              team_ids:
              - 4cce18ea-57c5-4beb-bca8-60dc7a68ae3a
              - 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
              all_teams: 1
              service_ids:
              - 32a7c77f-aa0a-49de-ab52-e52f0aa77888
              user_ids:
              - 7e26fed1-f11c-4e78-afc6-a
              priority_name: ''
              priority_ids:
              - 7064efff-55f2-448b-92e5-a3a53179aa76
              tag_ids:
              - bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
              sla_ids:
              - f14a16aa-15d1-49a1-be27-0c266b15c7fa
              from_date: []
              to_date: []
              postmortem_filter: -1
              escalation_policy_ids:
              - 52fe68d3-cead-40b3-b0ac-d616d38d8e32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentFilter'
              example:
                next: https://www.zenduty.com/api/incidents/filter/?page=4&page_size=10
                previous: https://www.zenduty.com/api/incidents/filter/?page=2&page_size=10
                results:
                - incident_number: 255
                  creation_date: '2023-10-26T14:22:56.338690Z'
                  status: 1
                  unique_id: aYfQPqqEUGvoMPftRAMSaB
                  sla: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                  service_object:
                    name: Main
                    unique_id: 32a7c77f-aa0a-49de-ab52-e52f0aa77888
                    team: 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
                    team_name: Backend
                  title: '[P-21041]Browser monitor global outage'
                  assigned_to_name: Michael Scott
                  tags:
                  - unique_id: 4b2634c6-2c7c-40ea-9a30-020dfddee187
                    incident: 255
                    creation_date: '2023-10-26T14:22:56.475799Z'
                    name: TAG
                    color: magenta
                    tag_id: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                    team_tag: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                  sla_object:
                    unique_id: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                    name: SLA
                    is_active: true
                    acknowledge_time: 5
                    resolve_time: 30
                    creation_date: '2022-10-11T11:42:46.438776Z'
                  team_priority_object:
                    unique_id: 7064efff-55f2-448b-92e5-a3a53179aa76
                    name: P1
                    description: P1 - high priority incidents
                    color: magenta
                  is_child_incident: false
                  postmortems: []
                  is_parent_incident: false
                  assigned_to: 7e26fed1-f11c-4e78-afc6-a
                  acknowledged_date: null
                  resolved_date: null
                  snooze_time: null
                  snoozed_till: null
                - incident_number: 254
                  creation_date: '2023-10-26T14:21:28.828936Z'
                  status: 1
                  unique_id: 7ze6Q9YAgvVTUAkQntrViC
                  sla: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                  service_object:
                    name: Main
                    unique_id: 32a7c77f-aa0a-49de-ab52-e52f0aa77888
                    team: 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
                    team_name: Backend
                  title: '[P-21041]Browser monitor global outage'
                  assigned_to_name: Michael Scott
                  tags:
                  - unique_id: 93f008cf-f55d-4348-9091-f1e70e3a92a6
                    incident: 254
                    creation_date: '2023-10-26T14:21:29.017156Z'
                    name: TAG
                    color: magenta
                    tag_id: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                    team_tag: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                  sla_object:
                    unique_id: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                    name: SLA
                    is_active: true
                    acknowledge_time: 5
                    resolve_time: 30
                    creation_date: '2022-10-11T11:42:46.438776Z'
                  team_priority_object:
                    unique_id: 7064efff-55f2-448b-92e5-a3a53179aa76
                    name: P1
                    description: P1 - high priority incidents
                    color: magenta
                  is_child_incident: false
                  postmortems: []
                  is_parent_incident: false
                  assigned_to: 7e26fed1-f11c-4e78-afc6-a
                  acknowledged_date: null
                  resolved_date: null
                  snooze_time: null
                  snoozed_till: null
                - incident_number: 253
                  creation_date: '2023-10-26T14:20:18.980264Z'
                  status: 1
                  unique_id: fAe5HrVSR8JfigxvB5p9eF
                  sla: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                  service_object:
                    name: Main
                    unique_id: 32a7c77f-aa0a-49de-ab52-e52f0aa77888
                    team: 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
                    team_name: Backend
                  title: '[P-21041]Browser monitor global outage'
                  assigned_to_name: Michael Scott
                  tags:
                  - unique_id: 6d2dadec-69a7-45f7-a2fb-99cc32a38419
                    incident: 253
                    creation_date: '2023-10-26T14:20:19.168974Z'
                    name: TAG
                    color: magenta
                    tag_id: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                    team_tag: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                  sla_object:
                    unique_id: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                    name: SLA
                    is_active: true
                    acknowledge_time: 5
                    resolve_time: 30
                    creation_date: '2022-10-11T11:42:46.438776Z'
                  team_priority_object:
                    unique_id: 7064efff-55f2-448b-92e5-a3a53179aa76
                    name: P1
                    description: P1 - high priority incidents
                    color: magenta
                  is_child_incident: false
                  postmortems: []
                  is_parent_incident: false
                  assigned_to: 7e26fed1-f11c-4e78-afc6-a
                  acknowledged_date: null
                  resolved_date: null
                  snooze_time: null
                  snoozed_till: null
            application/xml:
              schema:
                $ref: '#/components/schemas/IncidentFilter'
              example:
                next: https://www.zenduty.com/api/incidents/filter/?page=4&page_size=10
                previous: https://www.zenduty.com/api/incidents/filter/?page=2&page_size=10
                results:
                - incident_number: 255
                  creation_date: '2023-10-26T14:22:56.338690Z'
                  status: 1
                  unique_id: aYfQPqqEUGvoMPftRAMSaB
                  sla: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                  service_object:
                    name: Main
                    unique_id: 32a7c77f-aa0a-49de-ab52-e52f0aa77888
                    team: 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
                    team_name: Backend
                  title: '[P-21041]Browser monitor global outage'
                  assigned_to_name: Michael Scott
                  tags:
                  - unique_id: 4b2634c6-2c7c-40ea-9a30-020dfddee187
                    incident: 255
                    creation_date: '2023-10-26T14:22:56.475799Z'
                    name: TAG
                    color: magenta
                    tag_id: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                    team_tag: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                  sla_object:
                    unique_id: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                    name: SLA
                    is_active: true
                    acknowledge_time: 5
                    resolve_time: 30
                    creation_date: '2022-10-11T11:42:46.438776Z'
                  team_priority_object:
                    unique_id: 7064efff-55f2-448b-92e5-a3a53179aa76
                    name: P1
                    description: P1 - high priority incidents
                    color: magenta
                  is_child_incident: false
                  postmortems: []
                  is_parent_incident: false
                  assigned_to: 7e26fed1-f11c-4e78-afc6-a
                  acknowledged_date: null
                  resolved_date: null
                  snooze_time: null
                  snoozed_till: null
                - incident_number: 254
                  creation_date: '2023-10-26T14:21:28.828936Z'
                  status: 1
                  unique_id: 7ze6Q9YAgvVTUAkQntrViC
                  sla: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                  service_object:
                    name: Main
                    unique_id: 32a7c77f-aa0a-49de-ab52-e52f0aa77888
                    team: 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
                    team_name: Backend
                  title: '[P-21041]Browser monitor global outage'
                  assigned_to_name: Michael Scott
                  tags:
                  - unique_id: 93f008cf-f55d-4348-9091-f1e70e3a92a6
                    incident: 254
                    creation_date: '2023-10-26T14:21:29.017156Z'
                    name: TAG
                    color: magenta
                    tag_id: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                    team_tag: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                  sla_object:
                    unique_id: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                    name: SLA
                    is_active: true
                    acknowledge_time: 5
                    resolve_time: 30
                    creation_date: '2022-10-11T11:42:46.438776Z'
                  team_priority_object:
                    unique_id: 7064efff-55f2-448b-92e5-a3a53179aa76
                    name: P1
                    description: P1 - high priority incidents
                    color: magenta
                  is_child_incident: false
                  postmortems: []
                  is_parent_incident: false
                  assigned_to: 7e26fed1-f11c-4e78-afc6-a
                  acknowledged_date: null
                  resolved_date: null
                  snooze_time: null
                  snoozed_till: null
                - incident_number: 253
                  creation_date: '2023-10-26T14:20:18.980264Z'
                  status: 1
                  unique_id: fAe5HrVSR8JfigxvB5p9eF
                  sla: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                  service_object:
                    name: Main
                    unique_id: 32a7c77f-aa0a-49de-ab52-e52f0aa77888
                    team: 91fd3cc0-ebd6-43b8-aab3-67a05762ba0c
                    team_name: Backend
                  title: '[P-21041]Browser monitor global outage'
                  assigned_to_name: Michael Scott
                  tags:
                  - unique_id: 6d2dadec-69a7-45f7-a2fb-99cc32a38419
                    incident: 253
                    creation_date: '2023-10-26T14:20:19.168974Z'
                    name: TAG
                    color: magenta
                    tag_id: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                    team_tag: bc56a5d1-3ec3-4802-9f6a-3f93519ec2a4
                  sla_object:
                    unique_id: f14a16aa-15d1-49a1-be27-0c266b15c7fa
                    name: SLA
                    is_active: true
                    acknowledge_time: 5
                    resolve_time: 30
                    creation_date: '2022-10-11T11:42:46.438776Z'
                  team_priority_object:
                    unique_id: 7064efff-55f2-448b-92e5-a3a53179aa76
                    name: P1
                    description: P1 - high priority incidents
                    color: magenta
                  is_child_incident: false
                  postmortems: []
                  is_parent_incident: false
                  assigned_to: 7e26fed1-f11c-4e78-afc6-a
                  acknowledged_date: null
                  resolved_date: null
                  snooze_time: null
                  snoozed_till: null
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
  /api/incidents/:
    post:
      tags:
      - Incidents
      summary: Create the Incident object
      description: Create the Incident object by setting the values of all the required parameters passed in the request body.
      requestBody:
        description: Request body parameters to create the Incident object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentPayload'
            example:
              title: Production Incident
              service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
          application/xml:
            schema:
              $ref: '#/components/schemas/IncidentPayload'
            example:
              title: Production Incident
              service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
              example:
                summary: ''
                incident_number: 3
                creation_date: '2022-07-08T13:21:25.846623Z'
                status: 1
                unique_id: uJVWfdAeoPDm3pk2gG2URn
                service_object:
                  name: Infra Service
                  creation_date: '2022-07-08T12:31:37.429973Z'
                  summary: ''
                  description: This is the description for Infra Service
                  unique_id: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  auto_resolve_timeout: 0
                  created_by: 216bba3d-7268-4a8e-89e9-6
                  team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  task_template: 8d2640ca-c6ef-45f0-be5f-61dedcf85032
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  collation_time: 2
                  collation: 1
                  under_maintenance: false
                title: Production Incident
                incident_key: Q5NmEbsgc4ZjLknsw97VZJ
                service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                urgency: 1
                merged_with: null
                assigned_to: null
                escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                escalation_policy_object:
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  name: Infra Escalation Policy
                assigned_to_name: ''
                resolved_date: null
                acknowledged_date: null
                context_window_start: null
                context_window_end: null
                tags: []
                sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                sla_object:
                  unique_id: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  name: Infra SLA
                  is_active: true
                  acknowledge_time: 30
                  resolve_time: 60
                  creation_date: '2022-07-08T12:29:08.545605Z'
                team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                team_priority_object:
                  unique_id: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  name: Infra Priority
                  description: This is the description for Infra Priority
                  color: orange
            application/xml:
              schema:
                $ref: '#/components/schemas/Incident'
              example:
                summary: ''
                incident_number: 3
                creation_date: '2022-07-08T13:21:25.846623Z'
                status: 1
                unique_id: uJVWfdAeoPDm3pk2gG2URn
                service_object:
                  name: Infra Service
                  creation_date: '2022-07-08T12:31:37.429973Z'
                  summary: ''
                  description: This is the description for Infra Service
                  unique_id: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  auto_resolve_timeout: 0
                  created_by: 216bba3d-7268-4a8e-89e9-6
                  team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  task_template: 8d2640ca-c6ef-45f0-be5f-61dedcf85032
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  collation_time: 2
                  collation: 1
                  under_maintenance: false
                title: Production Incident
                incident_key: Q5NmEbsgc4ZjLknsw97VZJ
                service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                urgency: 1
                merged_with: null
                assigned_to: null
                escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                escalation_policy_object:
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  name: Infra Escalation Policy
                assigned_to_name: ''
                resolved_date: null
                acknowledged_date: null
                context_window_start: null
                context_window_end: null
                tags: []
                sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                sla_object:
                  unique_id: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  name: Infra SLA
                  is_active: true
                  acknowledge_time: 30
                  resolve_time: 60
                  creation_date: '2022-07-08T12:29:08.545605Z'
                team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                team_priority_object:
                  unique_id: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  name: Infra Priority
                  description: This is the description for Infra Priority
                  color: orange
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
  /api/incidents/{unique_id}/:
    patch:
      parameters:
      - name: unique_id
        in: path
        description: A system-generated string that represents the Incident object's unique ID
        schema:
          type: string
        required: true
      tags:
      - Incidents
      summary: Update the Incident object
      description: Updates the specified Incident object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.
      requestBody:
        description: Request body parameters to update the Incident object
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentUpdatePayload'
            example:
              status: 2
          application/xml:
            schema:
              $ref: '#/components/schemas/IncidentUpdatePayload'
            example:
              status: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
              example:
                summary: ''
                incident_number: 3
                creation_date: '2022-07-08T13:21:25.846623Z'
                status: 2
                unique_id: uJVWfdAeoPDm3pk2gG2URn
                service_object:
                  name: Infra Service
                  creation_date: '2022-07-08T12:31:37.429973Z'
                  summary: ''
                  description: This is the description for Infra Service
                  unique_id: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  auto_resolve_timeout: 0
                  created_by: 216bba3d-7268-4a8e-89e9-6
                  team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  task_template: 8d2640ca-c6ef-45f0-be5f-61dedcf85032
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  collation_time: 2
                  collation: 1
                  under_maintenance: false
                title: Modified Production Incident
                incident_key: Q5NmEbsgc4ZjLknsw97VZJ
                service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                urgency: 1
                merged_with: null
                assigned_to: 507dfda0-a1fd-40e5-943a-e
                escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                escalation_policy_object:
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  name: Infra Escalation Policy
                assigned_to_name: Mary Jane
                resolved_date: null
                acknowledged_date: null
                context_window_start: null
                context_window_end: null
                tags: []
                sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                sla_object:
                  unique_id: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  name: Infra SLA
                  is_active: true
                  acknowledge_time: 30
                  resolve_time: 60
                  creation_date: '2022-07-08T12:29:08.545605Z'
                team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                team_priority_object:
                  unique_id: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  name: Infra Priority
                  description: This is the description for Infra Priority
                  color: orange
            application/xml:
              schema:
                $ref: '#/components/schemas/Incident'
              example:
                summary: ''
                incident_number: 3
                creation_date: '2022-07-08T13:21:25.846623Z'
                status: 2
                unique_id: uJVWfdAeoPDm3pk2gG2URn
                service_object:
                  name: Infra Service
                  creation_date: '2022-07-08T12:31:37.429973Z'
                  summary: ''
                  description: This is the description for Infra Service
                  unique_id: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  auto_resolve_timeout: 0
                  created_by: 216bba3d-7268-4a8e-89e9-6
                  team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  task_template: 8d2640ca-c6ef-45f0-be5f-61dedcf85032
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  collation_time: 2
                  collation: 1
                  under_maintenance: false
                title: Modified Production Incident
                incident_key: Q5NmEbsgc4ZjLknsw97VZJ
                service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                urgency: 1
                merged_with: null
                assigned_to: 507dfda0-a1fd-40e5-943a-e
                escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                escalation_policy_object:
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  name: Infra Escalation Policy
                assigned_to_name: Mary Jane
                resolved_date: null
                acknowledged_date: null
                context_window_start: null
                context_window_end: null
                tags: []
                sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                sla_object:
                  unique_id: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  name: Infra SLA
                  is_active: true
                  acknowledge_time: 30
                  resolve_time: 60
                  creation_date: '2022-07-08T12:29:08.545605Z'
                team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                team_priority_object:
                  unique_id: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  name: Infra Priority
                  description: This is the description for Infra Priority
                  color: orange
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
  /api/incidents/{incident_number}/:
    parameters:
    - name: incident_number
      in: path
      description: incident_number of the Incident object
      schema:
        type: string
      required: true
    get:
      tags:
      - Incidents
      summary: Retrieve the Incident object
      description: Retrieves the specified Incident object.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
              example:
                summary: ''
                incident_number: 3
                creation_date: '2022-07-08T13:21:25.846623Z'
                status: 1
                unique_id: uJVWfdAeoPDm3pk2gG2URn
                service_object:
                  name: Infra Service
                  creation_date: '2022-07-08T12:31:37.429973Z'
                  summary: ''
                  description: This is the description for Infra Service
                  unique_id: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  auto_resolve_timeout: 0
                  created_by: 216bba3d-7268-4a8e-89e9-6
                  team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  task_template: 8d2640ca-c6ef-45f0-be5f-61dedcf85032
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  collation_time: 2
                  collation: 1
                  under_maintenance: false
                title: Production Incident
                incident_key: Q5NmEbsgc4ZjLknsw97VZJ
                service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                urgency: 1
                merged_with: null
                assigned_to: 507dfda0-a1fd-40e5-943a-e
                escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                escalation_policy_object:
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  name: Infra Escalation Policy
                assigned_to_name: Mary Jane
                resolved_date: null
                acknowledged_date: null
                context_window_start: null
                context_window_end: null
                tags: []
                sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                sla_object:
                  unique_id: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  name: Infra SLA
                  is_active: true
                  acknowledge_time: 30
                  resolve_time: 60
                  creation_date: '2022-07-08T12:29:08.545605Z'
                team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                team_priority_object:
                  unique_id: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  name: Infra Priority
                  description: This is the description for Infra Priority
                  color: orange
            application/xml:
              schema:
                $ref: '#/components/schemas/Incident'
              example:
                summary: ''
                incident_number: 3
                creation_date: '2022-07-08T13:21:25.846623Z'
                status: 1
                unique_id: uJVWfdAeoPDm3pk2gG2URn
                service_object:
                  name: Infra Service
                  creation_date: '2022-07-08T12:31:37.429973Z'
                  summary: ''
                  description: This is the description for Infra Service
                  unique_id: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                  auto_resolve_timeout: 0
                  created_by: 216bba3d-7268-4a8e-89e9-6
                  team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  task_template: 8d2640ca-c6ef-45f0-be5f-61dedcf85032
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  collation_time: 2
                  collation: 1
                  under_maintenance: false
                title: Production Incident
                incident_key: Q5NmEbsgc4ZjLknsw97VZJ
                service: 191f5e2c-515e-4ee0-b501-3a292f8dae2f
                urgency: 1
                merged_with: null
                assigned_to: 507dfda0-a1fd-40e5-943a-e
                escalation_policy: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                escalation_policy_object:
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  name: Infra Escalation Policy
                assigned_to_name: Mary Jane
                resolved_date: null
                acknowledged_date: null
                context_window_start: null
                context_window_end: null
                tags: []
                sla: b3c6af23-2b9e-414e-9706-bbf3af76828c
                sla_object:
                  unique_id: b3c6af23-2b9e-414e-9706-bbf3af76828c
                  name: Infra SLA
                  is_active: true
                  acknowledge_time: 30
                  resolve_time: 60
                  creation_date: '2022-07-08T12:29:08.545605Z'
                team_priority: 6d100d52-998b-41c8-8928-a7e3aa68e329
                team_priority_object:
                  unique_id: 6d100d52-998b-41c8-8928-a7e3aa68e329
                  name: Infra Priority
                  description: This is the description for Infra Priority
                  color: orange
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                detail: Not Found.
            application/xml:
              example:
                detail: Not Found.
components:
  schemas:
    IncidentFilter:
      type: object
      description: Incident filter object schema
      properties:
        count:
          type: integer
          nullable: true
          description: Please note -> this filed will always be null and will be removed in future version. For pagination, please use the `next` and `previous` fields.
        next:
          type: string
          nullable: true
          description: Link to the next page.
        previous:
          type: string
          nullable: true
          description: Link to the previous page.
        results:
          type: array
          description: A list of filtered incident objects.
          items:
            $ref: '#/components/schemas/IncidentFilterObject'
    IncidentFilterPostmortemObject:
      type: object
      description: Postmortem object schema
      properties:
        unique_id:
          type: string
          description: A system-generated string that represents the Postmortem object's unique_id
        title:
          type: string
          description: A string that represents the Postmortem object's title
    IncidentFilterObject:
      type: object
      description: Incident object schema
      properties:
        incident_number:
          type: integer
          description: An integer that represents the Incident object's incident_number
        creation_date:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's creation_date
        status:
          type: integer
          default: 1
          description: An integer that represents the Incident object's status. 1 is triggered, 2 is acknowledged and 3 is resolved
        unique_id:
          type: string
          description: A system-generated string that represents the Incident object's unique_id
        sla:
          type: string
          description: A system-generated string that represents the SLA object's unique_id
        service_object:
          $ref: '#/components/schemas/ServicePostPut'
        title:
          type: string
          description: A string that represents the Incident object's title
        assigned_to_name:
          type: string
          description: A string that represents the User object's full name
        tags:
          type: array
          description: An array of Incident Tag objects
          items:
            type: object
            description: Incident Tag object schema for Incident object schema
            properties:
              unique_id:
                type: string
                description: A system-generated string that represents the Incident Tag object's unique_id
              incident:
                type: integer
                description: An integer that represents the the Incident object's incident_number
              creation_date:
                type: string
                format: date-time
                description: A formatted string that represents the Tag object's creation_date
              name:
                type: string
                description: A string that represents the Tag object's name
              color:
                type: string
                description: A string that represents the Tag object's color
              tag_id:
                type: string
                description: A system-generated string that represents the Tag object's unique_id
              team_tag:
                type: string
                description: A system-generated string that represents the Tag object's unique_id
        sla_object:
          type: object
          description: SLA object schema for Incident object schema
          properties:
            unique_id:
              type: string
              description: A system-generated string that represents the SLA object's unique_id
            name:
              type: string
              description: A string that represents the SLA object's name
            is_active:
              type: boolean
              default: true
              description: A boolean flag that represents whether the SLA object is active or not.
            acknowledge_time:
              type: integer
              description: An integer that represents the SLA object's acknowledge_time
            resolve_time:
              type: integer
              description: An integer that represents the SLA object's resolve_time
            creation_date:
              type: string
              format: date-time
              description: A formatted string that represents the SLA object's creation_date
        team_priority_object:
          type: object
          description: Priority object schema for Incident object schema
          properties:
            unique_id:
              type: string
              description: A system-generated string that represents the Priority object's unique_id
            name:
              type: string
              description: A string that represents the Priority object's name
            description:
              type: string
              description: A string that represents the Priority object's description
            color:
              type: string
              description: A string that represents the Priority object's color
        is_child_incident:
          type: boolean
          description: A boolean flag that represents whether the Incident has a child incident or not.
        postmortems:
          type: array
          description: A list of postmortems objects.
          items:
            $ref: '#/components/schemas/IncidentFilterPostmortemObject'
        is_parent_incident:
          type: boolean
          description: A boolean flag that represents whether the Incident has a parent incident or not.
        assigned_to:
          type: string
          description: A system-generated string that represents the User object's username
        acknowledged_date:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's acknowledged_date
        resolved_date:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's resolved_date
        snooze_time:
          type: string
          nullable: true
          format: date-time
          description: A formatted string that represents the Incident object's snooze_time
        snoozed_till:
          type: string
          nullable: true
          format: date-time
          description: A formatted string that represents till when the Incident object's will be snoozed
    IncidentFilterPayload:
      type: object
      description: Payload schema for the Incident object
      properties:
        all_teams:
          type: integer
          default: 1
          description: This query parameter can be `0` or `1`. To filter incidents based on all teams use `1` and to filter incidents based on the teams the requesting user belongs to, use `0`. example - `all_teams=1`
        escalation_policy_ids:
          type: array
          description: A list of escalation policy unique ids
          items:
            type: string
            description: unique_id of an Escalation Policy
        from_date:
          type: string
          default: []
          description: Represents from_date and filters incidents whose creation_date is greater than the specified from_date. example - `from_date="2023-02-01"`
        postmortem_filter:
          type: integer
          default: -1
          description: An integer that represents weather the postmortem is attached to the incident or not
        priority_ids:
          type: array
          description: A list of Team Priority unique ids
          items:
            type: string
            description: unique_id of a Team Priority object
        priority_name:
          type: string
          description: Name of the Team priroty object
        service_ids:
          type: array
          description: A list of Service unique ids
          items:
            type: string
            description: unique_id of a Service object
        sla_ids:
          type: array
          description: A list of Team SLA unique ids
          items:
            type: string
            description: unique_id of a Team SLA object
        status:
          type: integer
          default: 1
          description: Status of the Incident object. For open incidents(triggered and acknowledged) use `-1`, for all incidents(triggered, acknowledged and resolved) use `0`, for triggered incidents use `1`, for acknowledged incidents use `2` and for resolved incidents use `3`. example - `status=1`
        tag_ids:
          type: array
          description: A list of Team Tag unique ids
          items:
            type: string
            description: unique_id of a Team Tag object
        team_ids:
          type: array
          description: A list of Team unique ids
          items:
            type: string
            description: unique_id of a Team object
        to_date:
          type: string
          default: []
          description: Represents to_date and filters incidents whose creation_date is lesser than the specified to_date. example - `to_date="2023-02-01"`
        user_ids:
          type: array
          description: A list of User usernames
          items:
            type: string
            description: username of an User object
    IncidentPayload:
      type: object
      description: Payload schema for the Incident object
      required:
      - title
      - service
      properties:
        summary:
          type: string
          description: A string that represents the Incident object's summary
        status:
          type: integer
          default: 1
          description: An integer that represents the Incident object's status. 1 is triggered, 2 is acknowledged and 3 is resolved
        title:
          type: string
          description: A string that represents the Incident object's title
        service:
          type: string
          description: A system-generated string that represents the Service object's unique_id
        assigned_to:
          type: string
          description: A system-generated string that represents the User object's username
        escalation_policy:
          type: string
          description: A system-generated string that represents the Escalation Policy object's unique_id
        sla:
          type: string
          description: A system-generated string that represents the SLA object's unique_id
        team_priority:
          type: string
          description: A system-generated string that represents the Priority object's unique_id
    Incident:
      type: object
      description: Incident object schema
      properties:
        summary:
          type: string
          description: A string that represents the Incident object's summary
        incident_number:
          type: integer
          description: An integer that represents the Incident object's incident_number
        creation_date:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's creation_date
        status:
          type: integer
          default: 1
          description: An integer that represents the Incident object's status. 1 is triggered, 2 is acknowledged and 3 is resolved
        unique_id:
          type: string
          description: A system-generated string that represents the Incident object's unique_id
        service_object:
          $ref: '#/components/schemas/ServicePostPut'
        title:
          type: string
          description: A string that represents the Incident object's title
        incident_key:
          type: string
          description: A system-generated string that represents the Incident object's incident_key
        service:
          type: string
          description: A system-generated string that represents the Service object's unique_id
        urgency:
          type: integer
          default: 1
          description: A integer that represents the Incident object's urgency 0 for low and 1 for high
        merged_with:
          type: integer
        assigned_to:
          type: string
          description: A system-generated string that represents the User object's username
        escalation_policy:
          type: string
          description: A system-generated string that represents the Escalation Policy object's unique_id
        escalation_policy_object:
          type: object
          description: Escalation Policy object schema for Incident object schema
          properties:
            unique_id:
              type: string
              description: A system-generated string that represents the Escalation Policy object's unique_id
            name:
              type: string
              description: A string that represents the Escalation Policy object's name
        assigned_to_name:
          type: string
          description: A string that represents the User object's full name
        resolved_date:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's resolved_date
        acknowledged_date:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's acknowledged_date
        context_window_start:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's context_window_start date
        context_window_end:
          type: string
          format: date-time
          description: A formatted string that represents the Incident object's context_window_end date
        tags:
          type: array
          description: An array of Incident Tag objects
          items:
            type: object
            description: Incident Tag object schema for Incident object schema
            properties:
              unique_id:
                type: string
                description: A system-generated string that represents the Incident Tag object's unique_id
              incident:
                type: integer
                description: An integer that represents the the Incident object's incident_number
              creation_date:
                type: string
                format: date-time
                description: A formatted string that represents the Tag object's creation_date
              name:
                type: string
                description: A string that represents the Tag object's name
              color:
                type: string
                description: A string that represents the Tag object's color
              tag_id:
                type: string
                description: A system-generated string that represents the Tag object's unique_id
              team_tag:
                type: string
                description: A system-generated string that represents the Tag object's unique_id
        sla:
          type: string
          description: A system-generated string that represents the SLA object's unique_id
        sla_object:
          type: object
          description: SLA object schema for Incident object schema
          properties:
            unique_id:
              type: string
              description: A system-generated string that represents the SLA object's unique_id
            name:
              type: string
              description: A string that represents the SLA object's name
            is_active:
              type: boolean
              default: true
              description: A boolean flag that represents whether the SLA object is active or not.
            acknowledge_time:
              type: integer
              description: An integer that represents the SLA object's acknowledge_time
            resolve_time:
              type: integer
              description: An integer that represents the SLA object's resolve_time
            creation_date:
              type: string
              format: date-time
              description: A formatted string that represents the SLA object's creation_date
        team_priority:
          type: string
          description: A system-generated string that represents the Priority object's unique_id
        team_priority_object:
          type: object
          description: Priority object schema for Incident object schema
          properties:
            unique_id:
              type: string
              description: A system-generated string that represents the Priority object's unique_id
            name:
              type: string
              description: A string that represents the Priority object's name
            description:
              type: string
              description: A string that represents the Priority object's description
            color:
              type: string
              description: A string that represents the Priority object's color
    IncidentUpdatePayload:
      type: object
      description: Payload schema for updating an Incident object. At least one parameter must be provided in the request body.
      properties:
        summary:
          type: string
          description: A string that represents the Incident object's summary
        status:
          type: integer
          default: 1
          description: An integer that represents the Incident object's status. 1 is triggered, 2 is acknowledged and 3 is resolved
        title:
          type: string
          description: A string that represents the Incident object's title
        assigned_to:
          type: string
          description: A system-generated string that represents the User object's username
        escalation_policy:
          type: string
          description: A system-generated string that represents the Escalation Policy object's unique_id
        sla:
          type: string
          description: A system-generated string that represents the SLA object's unique_id
        team_priority:
          type: string
          description: A system-generated string that represents the Priority object's unique_id
        urgency:
          type: integer
          description: An integer that represents the Incident object's urgency field. 1 is for high urgency incidents and 0 is for low urgency incidents.
    ServicePostPut:
      description: Service object schema for Create and Update
      type: object
      properties:
        name:
          type: string
          description: A string that represents the Service object's name
        creation date:
          type: string
          format: date-time
          description: A formatted string that represents the Service object's creation_date
        summary:
          type: string
          description: A string that represents the Service object's summary
        description:
          type: string
          description: A string that represents the Service object's description
        unique_id:
          type: string
          description: A system-generated string that represents the Service object's unique_id
        auto_resolve_timeout:
          type: integer
          default: 0
          description: An integer that represents the timeout for automatically resolving an Incident
        created_by:
          type: string
          description: A system-generated string that represents the User object's username
        team_priority:
          type: string
          description: A system-generated string that represents the Priority object's unique_id
        task_template:
          type: string
          description: A system-generated string that represents the Task Template object's unique_id
        acknowlegement_timeout:
          type: integer
          default: 0
          description: An integer that represents the timeout for acknowledging an Incident
        status:
          type: integer
          default: 1
          description: An integer that represents the Service object's status 0 is disabled, 1 is active, 2 is a warning, 3 is critical, and 4 is under maintenance
        escalation_policy:
          type: string
          description: A system-generated string that represents the Escalation Policy object's unique_id
        team:
          type: string
          description: A system-generated string that represents the Team object's unique_id
        sla:
          type: string
          description: A system-generated string that represents the SLA object's unique_id
        collation_time:
          type: integer
          default: 0
          description: An integer that represents the Service object's collation_time. When collation is turned on it needs to be greater than 1 minute & less than 1440 minutes.
        collation:
          type: integer
          default: 0
          description: An integer that represents the Service object's collation type. 0 is off, 1 is time-based.
        under_maintenance:
          type: boolean
          default: false
          description: A boolean flag that represents whether the service object is under maintenance or not
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token <api_key>
